
/**
 * AJAX loader
 */
#sf-ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var( --sf-background );
	border-radius: 10px;

	img {
		width: 51px;
		height: 51px;
		background: none;
		position: relative;
		z-index: 10001;
	}

	&.fade-in {
		opacity: 0.5;
	}
}

.sf-button {
	font-weight: 600;
	font-size: 14px;
	color: var( --sf-background );
	transition: background-color 0.3s ease-out;
	background-color: var( --sf-accent );
	border: 1px solid var( --sf-accent-dark );
	padding: 9px 20px;
	border-radius: var( --sf-corner-button );
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	&:hover, &:focus {
		color: var( --sf-background );
		background-color: var( --sf-accent-dark );
	}
}