$meta__bg: #ffffff;
$meta__bg-alt: #3A5A7E;
$meta__border: 1px solid #C9D4E0;

$field__bg: #F8F9FB;
$field__border: 1px solid #E5EAF0;

$font__primary: #445C78;
$font__secondary: #71798E;
$font__alt: #ffffff;
$font__family: 'Open Sans', sans-serif;

$action__cancel: #D05050;
$action__confirm: #529D45;

$button__bg: #426E9F;
$button__border:  1px solid #3B6492;

$input__border: 1px solid #C9D4E0;