.sf-color {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: flex;
		align-items: center;
		padding: 6px 0;
	}

	&__swatch {
		width: 30px;
		height: 30px;
		border-radius: var( --sf-corner );
		box-sizing: border-box;
		position: relative;
		appearance: none;
		cursor: pointer;

		&--contrast {
			path {
				fill: #fff;
			}
		}
	}

	&__input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked {
			&+.sf-color__swatch svg {
				display: block;
			}
		}
	}

	&__swatch {
		svg {
			display: none;
			width: 30px;
			height: 30px;
		}
	}

	&__label {
		cursor: pointer;
		color: var( --sf-font_options );
		font-size: 14px;
		padding-left: 10px;
	}

}