.sf-filter .sf-radio {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: flex;
		align-items: center;
		padding: 6px 0;
		margin: 0;
	}

	&__input {
		width: 19px;
		height: 19px;
		border-radius: 20px;
		box-sizing: border-box;
		border: 2px solid;
		border-color: var( --sf-accent );
		position: relative;
		background-color: var( --sf-background );
		appearance: none;
		cursor: pointer;
		margin: 0;

		&:checked {
			background-color: var( --sf-background );

			&::after {
				transform: rotate(45deg);
				content: "";
				width: 9px;
				height: 9px;
				border-radius: 20px;
				background-color: var( --sf-accent );
				position: absolute;
				top: 3px;
				left: 3px;
			}

			& + .sf-checkbox__label {
				font-weight: 600;
			}
		}
	}

	&__label {
		color: var( --sf-font_options );
		font-size: 14px;
		padding-left: 12px;
		margin: 0;
	}
}