
.sf-select {
	font-size: 12px;
	//margin-top: -4px;
	//margin-bottom: -4px;
	position: relative;

	&::before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: #4f76a2 transparent transparent transparent;
		position: absolute;
		right: 12px;
		top: 15px;
		z-index: 1;
	}

	&__input {
		background: #ffffff;
		border: 1px solid #C9D4E0;
		border-radius: 5px;
		appearance: none;
		line-height: 33px;
		padding: 0 15px;
		position: relative;
		padding-right: 32px;
		width: 100%;
	}

	//ul {
	//	margin: 0;
	//	background: #ffffff;
	//	border: 1px solid #C9D4E0;
	//	border-radius: 5px;
	//}
	//
	//li {
	//	line-height: 33px;
	//	padding: 0 15px;
	//	margin: 0;
	//
	//	&:first-of-type {
	//		position: relative;
	//
	//		&::before {
	//			content:"";
	//			width: 0;
	//			height: 0;
	//			border-style: solid;
	//			border-width: 5px 5px 0 5px;
	//			border-color: #4f76a2 transparent transparent transparent;
	//			position: absolute;
	//			right: 12px;
	//			top: 15px;
	//		}
	//	}
	//
	//	&:not(:last-of-type) {
	//		border-bottom: 1px solid #E8EDF2;
	//	}
	//}
	//
	//&__selected {
	//	font-weight: 700;
	//	color: #445C78;
	//	background: #F3F7FB;
	//}
}