.sf-slider {

	&__inputs {
		display: flex;
		justify-content: space-between;
	}

	.sf-slider__input {
		border: 1px solid var( --sf-accent );
		border-radius: var( --sf-corner-button );
		background: var( --sf-background );
		line-height: 32px;
		font-size: 14px;
		font-weight: 600;
		color: var( --sf-accent );
		min-width: 87px;
		padding-left: 12px;
		box-sizing: border-box;

		&--min {
			margin-right: 20px;
		}
	}

	.ui-slider {
		height: 4px;
		width: calc( 100% - 18px );
		background: #E3E5E8;
		margin-bottom: 24px;
		margin-top: 16px;
		position: relative;
	}

	.ui-slider-range {
		height: 4px;
		background: var( --sf-accent );
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
	}

	.ui-slider-handle {
		width: 18px;
		height: 18px;
		background: var( --sf-accent );
		border: 1px solid var( --sf-accent-dark );
		border-radius: 40px;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		touch-action: none;
		top: -7px;
	}
}